.rotate {
    transition: all 350ms ease;
}

[class^=ckbx-style-] {
    label:before {
        box-shadow: none !important;
        color: black !important;
    }

    :checked {}

    :not(:checked) {}
}

.ckbx-style-11 input[type=checkbox]:checked+label:before {
    // background-color: green !important;
}