@use 'reset';
@use 'background-animation';
@use 'utilities';
@use 'footer';
@use 'slider';
@use '../node_modules/css-checkbox-library/dist/css/checkboxes.css';
@use '../node_modules/hint.css/hint.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {


    h1 {
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        margin-top: 150px;

    }

    main {

        background: white;
        border-radius: 15px;
        max-width: 1100px;
        font-family: 'Quicksand', sans-serif;
        color: black;
        margin: auto;
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        padding: 50px;


        justify-content: center;

        #password-generator {
            width: 100%;

            .password-box {
                .input {

                    display: flex;
                    height: 75px;
                    border: 1px solid rgb(137, 136, 136);

                    &>*,
                    &>*>* {
                        background-color: white;
                        border: none;
                        color: black;
                    }

                    input {
                        padding: 20px;
                        font-size: 1.8rem;
                        font-family: 'Poppins', sans-serif;

                        &::placeholder {
                            color: black;
                            font-family: 'Poppins', sans-serif;
                        }

                        flex: 8;
                    }

                    .btns {
                        flex: 1.2;
                        display: flex;
                        justify-content: space-around;
                        margin-right: 10px;

                        &>*>* {
                            font-size: 2.2rem;
                            cursor: pointer;
                            transition: all 250ms ease;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

                .strength-meter {
                    height: 5px;
                    width: 100%;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                    transition: all 1000ms cubic-bezier(.1, .49, .64, 1.03);
                }
            }

            .password-length {
                display: flex;
                margin: 30px 0;
                position: relative;

                input {
                    min-width: 250px;
                    max-width: 1000px;
                    flex: 2;
                    margin-left: 50px;
                }

                label {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    font-size: 2.5rem;
                    padding: 20px;
                    cursor: pointer;


                }


            }

            .settings {
                border: none;
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                margin-bottom: 30px;

                $margin: 13%;

                .setting {
                    user-select: none;
                    display: flex;
                    gap: 35px;
                    // padding-left: 25%;
                    cursor: pointer;
                    font-size: 1.5rem;
                    margin-left: $margin;

                    label {
                        cursor: inherit;
                    }

                    div[class*="ckbx-style"] {
                        font-size: 130%;
                    }

                    &:is(.include-lowercase-letters, .include-symbols) {
                        margin-right: $margin;
                    }

                    &.include-random-word {
                        margin-left: 0;
                        margin-top: 10px;
                        grid-column: 1 / 3;
                        justify-content: center;
                    }
                }





            }

        }

        button.submit-button {
            display: block;
            margin: auto;
            width: 50%;
            min-width: 200px;
            max-width: 400px;
            padding: 10px;
            transition: 0.2s ease all;
            background-color: rgb(93, 58, 199);
            border-radius: 5px;
            font-size: 1.5rem;
            margin-top: 20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;


            &:hover {
                background-color: rgb(30, 0, 118);
            }
        }

    }
}

[class*="hint"]::after {
    font-family: 'Quicksand', 'Poppins';
    font-size: large;
    padding: 10px;
    animation-delay: 1s;
}

// .include-random-word {
//     grid-column: 1 / 2 !important;
// }